@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-stripes-purple {
    background-color: #c084fc1a;
    background-image: linear-gradient(135deg,#a855f780 10%,transparent 0,transparent 50%,#a855f780 0,#a855f780 60%,transparent 0,transparent);
    background-size: 7.07px 7.07px;
}